mat-label {
    font-size: 16px;
}

h3 {
    color: #6a97c1;
    font-weight:500;
}

button {
    width: 25%;
    margin: 15px 0px;
    background-color: #6a97c1;
}

#table-prix {
    text-align: end;
    width: 80%;
}

#table-prix>tr>th {
    border-bottom: 1px solid #6a97c1;

    width: 300px;
}

#table-prix>tr>td {
    padding: 5px 0px;
}

.forfait {
    margin-right: 20px;
    margin: 6px 20px;
    min-width: 100px;
    max-width: 100px;
}

.horsforfait {
    margin-right: 4%;
    margin: 6px 20px;
}

#date {
    color:#4b6a86;
    font-weight:500;
}

.content{
    margin: 20px;
    width: 100%;
    display: flex;
    align-items: center;
}

.compta {
    width: 50%
}

.fiche {
    width: 50%
}

.infos {
    display: flex;
    justify-content: space-between;
    border: 2px solid #4b6a86;
    padding: 10px 20px;
    margin-bottom: 20px;
}

#etat {
    width: 30%;
    margin: 20px 0px
}
