<div class="contenu">
    <div class="infos">
        <p>Visiteur : {{ nom | prenomNom}}</p>
        <p>Dernière modification le {{elemFiche.dateModif | date: 'dd/MM/YY'}}</p>
    </div>
    <h2>Renseigner ma fiche de frais pour <span id="date">{{moisEnCours | date: 'MMMM YYYY'}}</span></h2>

    <div class="content">
        <div class="fiche">
            <div class="elem-forfait">
                <h3>Élements forfaitisés</h3>
                <div>
                    <mat-form-field appearance="legacy" class="forfait">
                        <mat-label>Forfait étape</mat-label>
                        <input type="number" value=0 matInput [(ngModel)]="elemForfait.etape" [readonly]="readonly">
                    </mat-form-field>
                    <mat-form-field appearance="legacy" class="forfait">
                        <mat-label>Frais kilométrique</mat-label>
                        <input type="number" value=0 matInput [(ngModel)]="elemForfait.kilometre" [readonly]="readonly">
                    </mat-form-field><br>
                    <mat-form-field appearance="legacy" class="forfait">
                        <mat-label>Nuitée hôtel</mat-label>
                        <input type="number" value=0 matInput [(ngModel)]="elemForfait.nuit" [readonly]="readonly">
                    </mat-form-field>
                    <mat-form-field appearance="legacy" class="forfait">
                        <mat-label>Repas restaurant</mat-label>
                        <input type="number" value=0 matInput [(ngModel)]="elemForfait.repas" [readonly]="readonly">
                    </mat-form-field>
                </div>
            </div>

            <div class="elem-hors-forfait">
                <h3>Élements hors forfait</h3>
                <div>
                    <mat-form-field appearance="legacy" class="horsforfait">
                        <mat-label>Date</mat-label>
                        <input type="date" matInput [(ngModel)]="elemHorsForfait.date" [readonly]="readonly">
                    </mat-form-field>

                    <mat-form-field appearance="legacy">
                        <mat-label>Montant de la note</mat-label>
                        <span matSuffix>&nbsp;€</span>
                        <input type="number" matInput [(ngModel)]="elemHorsForfait.montant" [readonly]="readonly">
                        <mat-hint>Requis*</mat-hint>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="legacy" class="horsforfait">
                        <mat-label>Libellé</mat-label>
                        <textarea type="text" matInput cdkTextareaAutosize [(ngModel)]="elemHorsForfait.libelle"
                            [readonly]="readonly"></textarea>
                    </mat-form-field>


                    <mat-form-field appearance="legacy">
                        <mat-label>Nombre de justificatifs</mat-label>
                        <input type="number" value=0 matInput [(ngModel)]="elemFiche.nbJustificatifs"
                            [readonly]="readonly">
                    </mat-form-field>
                </div>
            </div>
            <div>
                <button mat-raised-button (click)="sauvegarde()">Valider</button>
            </div>
        </div>


        <div class="compta">
            <div *ngIf="authService.isComptable()">
                Modifier l'état de la fiche :
                <mat-form-field id="etat" appearance="fill">
                    <mat-label>Etat de la fiche</mat-label>
                    <mat-select [(ngModel)]="elemFiche.idEtat">
                        <mat-option value="CL">Clôturée</mat-option>
                        <mat-option value="VA">Validée, mise en paiement</mat-option>
                        <mat-option value="RB">Remboursée</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <table id="table-prix">
                <tr>
                    <th>Type</th>
                    <th>Qte</th>
                    <th>Total</th>
                </tr>
                <tr>
                    <td>Forfait étape</td>
                    <td>{{elemForfait.etape}}</td>
                    <td>{{montantEtape | number:'1.2-2':'fr'}} €</td>
                </tr>
                <tr>
                    <td>Forfait kilométrique</td>
                    <td>{{elemForfait.kilometre}}</td>
                    <td>{{montantKm | number:'1.2-2':'fr'}} €</td>
                </tr>
                <tr>
                    <td>Nuitées hôtel</td>
                    <td>{{elemForfait.nuit}}</td>
                    <td>{{montantNuit | number:'1.2-2':'fr'}} €</td>
                </tr>
                <tr>
                    <td>Repas restaurant</td>
                    <td>{{elemForfait.repas}}</td>
                    <td>{{montantRepas | number:'1.2-2':'fr'}} €</td>
                </tr>

                <tr>
                    <td>Hors forfait</td>
                    <td></td>
                    <td>{{elemHorsForfait.montant}} €</td>
                </tr>
                <tr></tr>
                <tr>
                    <th>Montant total</th>
                    <th></th>
                    <th>{{getMontantTotal() | number:'1.2-2':'fr'}} €</th>
                </tr>
            </table>


        </div>
    </div>
</div>