
<div class="navbarleft">

    <a routerLink="/accueil" routerLinkActive="active">
        <img class="logo" src="../assets/images/GSBFinal.png" /></a>
    <a *ngIf="!authService.isComptable()" routerLink="/saisie" routerLinkActive="active">Saisir une note</a><br />
    <a *ngIf="!authService.isComptable()" routerLink="/consulter" routerLinkActive="active">Consulter les notes</a>
    <a *ngIf="authService.isComptable()" routerLink="/validation" routerLinkActive="active">Administration</a>

    <div *ngIf="authService.isLoggedIn()">
    <button mat-button (click)="logout()">
        <mat-icon>logout</mat-icon>
        Déconnexion
    </button>
  </div>
</div>

