.navbarleft {
  display: block;
  height: 97%;
  padding: 10px;

}


a {
  color: black;
  text-decoration: none;
  font-size: 26px;
  display: inline-block;
  margin: 12px 0px;
  width: 100%;

}
a:hover {
  color: #141e26;
}

.logo {
  margin-top: -55px;
  width: 100%;
}

button {
  margin-top: 20px;
  font-size: 20px;
}
