
<div class="container">

<div class="contenu">
    <h1>Accès à l'espace personnel</h1>
    <p>
        <mat-form-field appearance="legacy">
            <mat-label>Login</mat-label>
            <input type="text" matInput [(ngModel)]="login">
            <mat-hint>Requis*</mat-hint>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="legacy">
            <mat-label>Mot de passe</mat-label>
            <input type="password" matInput [(ngModel)]="mdp">
            <mat-hint>Requis*</mat-hint>
        </mat-form-field>
    </p>
    <div>
        <button (click)="newUser()">Connexion</button>

    </div>
    <div *ngIf="this.con == 1">
      <h1>Bienvenue</h1>

    </div>

    <div *ngIf="this.con == 2||0">
      <h1>Mot de passe incorrect</h1>
    </div>

    <div *ngIf="this.con == 3||0">
        <h3>Connexion impossible. <br>
            Votre compte a été désactivé.</h3>
      </div>
</div>
</div>
