/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Styles formulaires */
mat-form-field {
    width: 22%;
    font-size: 20px;
}

mat-hint {
    font-size: 11px;
}

.contenu {
    margin: 30px;

}