<h1>Consulter vos fiche de frais</h1>

<table mat-table [dataSource]="fiche">
<!--id a supprimer après avoir réussi à filtrer les fiches du visiteur-->
  <ng-container matColumnDef="mois">
    <th mat-header-cell *matHeaderCellDef>Mois</th>
    <td mat-cell *matCellDef="let item"> {{ item.mois | numberToDate}} </td>
  </ng-container>

  <ng-container matColumnDef="justificatifs">
    <th mat-header-cell *matHeaderCellDef>Justificatifs</th>
    <td mat-cell *matCellDef="let item"> {{ item.nbJustificatifs }} </td>
  </ng-container>

  <ng-container matColumnDef="montant">
    <th mat-header-cell *matHeaderCellDef>Montant validé</th>
    <td mat-cell *matCellDef="let item"> {{ item.montantValide }} </td>
  </ng-container>

  <ng-container matColumnDef="dateModif">
    <th mat-header-cell *matHeaderCellDef>Dernière modification</th>
    <td mat-cell *matCellDef="let item"> {{ item.dateModif | date: 'dd-MM-YYYY' }} </td>
  </ng-container>
  
  <ng-container matColumnDef="etat">
    <th mat-header-cell *matHeaderCellDef>État</th>
    <td mat-cell *matCellDef="let item"> {{ item.libelle }} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let item">       
      <button mat-icon-button color="primary" [matTooltip]="item.idEtat == 'CR' ? 'Modifier' : 'Voir'" [routerLink]="'/saisie/'+item.idVisiteur+'/'+item.mois">
        <mat-icon>{{item.idEtat == 'CR' ? 'edit' : 'search'}}</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>