#administration {
 width: 100%;
}

.container{
  margin : auto;
  width: 90%;
}

h2 {
  color: #4a6b86;
  text-align: center;
  margin-top: 20px;
  font-weight: 500;
}

.content{
  background-color: #6a97c1;
  padding: 6px;
}
/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
