<div id="administration">

  <div class="container">
  <h2>Gérer les fiches de frais</h2>
    <div class="content">
      <table mat-table [dataSource]="ficheATraiter">
        <!--id a supprimer après avoir réussi à filtrer les fiches du visiteur-->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Visiteur</th>
          <td mat-cell *matCellDef="let item"> {{ item.idVisiteur }} </td>
        </ng-container>

        <ng-container matColumnDef="mois">
          <th mat-header-cell *matHeaderCellDef>Mois</th>
          <td mat-cell *matCellDef="let item"> {{ item.mois | numberToDate}} </td>
        </ng-container>

        <ng-container matColumnDef="justificatifs">
          <th mat-header-cell *matHeaderCellDef>Justificatifs</th>
          <td mat-cell *matCellDef="let item"> {{ item.nbJustificatifs }} </td>
        </ng-container>

        <ng-container matColumnDef="montant">
          <th mat-header-cell *matHeaderCellDef>Montant validé</th>
          <td mat-cell *matCellDef="let item"> {{ item.montantValide }} </td>
        </ng-container>

        <ng-container matColumnDef="dateModif">
          <th mat-header-cell *matHeaderCellDef>Dernière modification</th>
          <td mat-cell *matCellDef="let item"> {{ item.dateModif | date: 'dd-MM-YYYY' }} </td>
        </ng-container>

        <ng-container matColumnDef="etat">
          <th mat-header-cell *matHeaderCellDef>État</th>
          <td mat-cell *matCellDef="let item"> {{ item.libelle }} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let item">
            <button mat-icon-button color="primary" matTooltip="Voir"
              [routerLink]="'/saisie/'+item.idVisiteur+'/'+item.mois">
              <mat-icon>search</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <!-- <mat-paginator [length]="ficheATraiter.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page">
      </mat-paginator> -->
    </div>

    <h2>Archive (Fiches de frais traitées)</h2>
    <div class="content">
      <table mat-table [dataSource]="ficheTraitees">
        <!--id a supprimer après avoir réussi à filtrer les fiches du visiteur-->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Visiteur</th>
          <td mat-cell *matCellDef="let item"> {{ item.idVisiteur }} </td>
        </ng-container>

        <ng-container matColumnDef="mois">
          <th mat-header-cell *matHeaderCellDef>Mois</th>
          <td mat-cell *matCellDef="let item"> {{ item.mois | numberToDate}} </td>
        </ng-container>

        <ng-container matColumnDef="justificatifs">
          <th mat-header-cell *matHeaderCellDef>Justificatifs</th>
          <td mat-cell *matCellDef="let item"> {{ item.nbJustificatifs }} </td>
        </ng-container>

        <ng-container matColumnDef="montant">
          <th mat-header-cell *matHeaderCellDef>Montant validé</th>
          <td mat-cell *matCellDef="let item"> {{ item.montantValide }} </td>
        </ng-container>

        <ng-container matColumnDef="dateModif">
          <th mat-header-cell *matHeaderCellDef>Dernière modification</th>
          <td mat-cell *matCellDef="let item"> {{ item.dateModif | date: 'dd-MM-YYYY' }} </td>
        </ng-container>

        <ng-container matColumnDef="etat">
          <th mat-header-cell *matHeaderCellDef>État</th>
          <td mat-cell *matCellDef="let item"> {{ item.libelle }} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let item">
            <button mat-icon-button color="primary" matTooltip="Voir"
              [routerLink]="'/saisie/'+item.idVisiteur+'/'+item.mois">
              <mat-icon>search</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [length]="ficheTraitees.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page">
      </mat-paginator>
    </div>
  </div>

</div>
