 <div class="container">
 <div class="navbar"><navigation></navigation></div>
 <div class="content"><router-outlet></router-outlet>
    <!-- <ul>
        <li *ngFor="let item of cars">{{item.nom}} | {{item.prenom}} </li>
      </ul> -->
    </div>
  </div>

