img {
    width: 48%;
    margin-bottom: 16px;
}

h2 {
    color: #4a6b86;
    font-size: 26px;
}

button {
    background-color: #4a6b86;
    color: white;
    margin: 10px;
    font-weight: 400;
}

p {
    font-size: 16px;

}

mat-icon {
    margin-right: 4px;
}

.accueil {
    margin: 20px;
    text-align: center;
}