<div class="accueil">
    <h2>Bienvenue sur le portail du groupe <span id="name">Galaxy Swiss Bourdin</span></h2>
    <img src="../../assets/images/accueil2.png">
<p>Bonjour {{ nom | prenomNom}},</p>
    <div *ngIf="authService.isComptable()">
        <p>En tant que comptable vous pouvez consulter et administrer les fiches de frais saisies par nos visiteurs</p>
        <button mat-raised-button  routerLink="/validation" routerLinkActive="active">
            <mat-icon> list_alt</mat-icon>Gérer les fiches de frais
        </button>
    </div>


    <div *ngIf="!authService.isComptable()">
        <p>En tant que visiteur vous pouvez saisir et consulter vos fiches de frais</p>
        <div class="options">
                <button mat-raised-button routerLink="/saisie">
                    <mat-icon>add_circle</mat-icon>Saisir ma fiche de frais
                </button>

                <button mat-raised-button routerLink="/consulter">
                    <mat-icon>view_compact</mat-icon>Consulter l'état de mes fiches
                </button>
        </div>

    </div>
</div>
